[langchain]
OPENAI_API_TYPE = "Applicable for Azure OpenAI - user value 'azure'"
OPENAI_API_VERSION = "Applicable for Azure OpenAI - user value '2022-12-01'"
OPENAI_API_BASE = "Applicable for Azure OpenAI - user value 'https://your-resource-name.openai.azure.com'"
OPENAI_API_KEY = "FROM openai.com or azure.com"
COHERE_API_KEY = "FROM cohere.com"
SERPER_API_KEY = "FROM serper.dev"
PERSIST_MOUNT_PATH = "Path to a local directory where files are persisted such as for vector data stores"